* {
  background-color: rgb(252, 218, 223);
  font-family: "Balsamiq Sans";
  color: rgb(134, 72, 146);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.fruit-name {
  font-weight: bold;
  font-size: 25px;
}

#red-for-F {
  color: rgb(255, 91, 91);
}

#orange-for-r {
  color: rgb(255, 119, 28);
}

#yellow-for-u {
  color: rgb(255, 187, 0);
}

#green-for-i {
  color: rgb(79, 153, 10);
}

#blue-for-t {
  color: rgb(0, 153, 255);
}

#purple-for-s {
  color: rgb(196, 13, 196);
}

button {
  background-color: pink;
}